/* Child elements will inherit from the parent, unless explicitly overridden. Body is basically a global styler. */
/* the asterisk is the real universal selector */


/* ====================================================== */
/* GLOBAL ATTRIBUTES */
/* ====================================================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* to clear the float */
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/* ====================================================== */
/* HEADERS */
/* ====================================================== */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h2 {
    color: rgb(31, 31, 31);   
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

h2{    
    font-size: 25px;
    margin-bottom: 10px;    
}

/* ====================================================== */
/* INSIDE THE CONTAINER */
/* ====================================================== */

/* outer <div> element containing everything in the body */
.container{
    width: 1140px;
    /* top right bottom left : order of margins */
    margin:  20px auto 0 auto;
}

/* ====================================================== */
    /* TEXT ELEMENTS */
/* ====================================================== */

.blogPost{
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;    
}
        .date{
            position: absolute;
            top: 10px;
            right: 30px;
        }
            
        .mainText {
            text-align: justify;
            margin-bottom: 20px;
        }

        .otherPosts{
            width: 25%;
            float: left;
        }

                .other{
                    margin-bottom: 40px;
                }

        .authorBox{
            /* to create a line dividing the p text and the author image*/
            border-top: 1px solid grey;
            padding-top: 20px;
        }    
        
                .authorText{
                    font-size: 22px;
                    float: left;
                    margin-top: 30px;
                    margin-left: 15px;
                }
   
/* ====================================================== */
/* IMAGES */
/* ====================================================== */

        .authorBox img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            float: left;
        }

        .blogPost img{
            height: 150px;
            width: auto;
        }

/* ====================================================== */

/* ====================================================== */

