/* Child elements will inherit from the parent, unless explicitly overridden. Body is basically a global styler. */
/* the asterisk is the real universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


h1, h2 {
    color: rgb(31, 31, 31);   
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

h2{    
    font-size: 25px;
    margin-bottom: 10px;    
}

.mainText {
    text-align: justify;
    margin-bottom: 20px;
}

/* id can only be used once. use a class for more flexibility */
.authorText{
    font-size: 22px;
}

